<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %> 
<body>
    <div class="container">
        <%- include('./partials/nav.ejs') %>
            
            
            <input type="hidden" value='<%= user._id %>' id="userId"/>
            <input type="hidden" value='<%= user.username %>' id="username"/>
            <% let selectedUser; %> 
           
            <div class="row bg-light h-100">
                <%- include('./partials/sidebar.ejs') %> 
                <div class="col-md-11">
                   <div class="p-3">
                        <h2 class="text-center">Chat Menu</h2>
                    </div>
                    <div class="row">
                    <div class="col-md-2 p-0">
                        <h5>Friends <span class="badge rounded-pill bg-danger"><%= user.friendList.length %></span> </h5>
                        <% if(user.friendList.length > 0 ){ %> 
                        <% user.friendList.forEach(friend => { %>
                            <% if(friend.status == "accepted") {%> 
                        
                        <div class="d-flex text-muted ">
                               <a href="/chat/<%= friend.id  %>" class="list-group-item list-group-item-action py-3 lh-tight tab" aria-current="true" data-id="<%= friend._id %> ">
                                <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" 
                                src="<%= friend.profileImage %>" style="height: 32px; width:32px" />
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                  <strong class="mb-1"><%= friend.username  %> </strong>
                                  <small>Wed</small>
                                </div>
                                <div class="col-10 mb-1 small"></div>
                              </a>
                        </div>
                          <% } %> 
                        <% }); %> 
                          <% } %> 
                          <h5 class="my-2">Group <span class="badge rounded-pill bg-danger"><%= user.groups.length %></span></h5>
                          <% if(user.groups.length > 0){ %> 
                            <% user.groups.forEach(group=>{%>
                                <div class="d-flex text-muted ">
                                    <a href="/chat/group/<%= group.id  %>" class="list-group-item list-group-item-action py-3 lh-tight grouptab" aria-current="true" data-id="<%= group._id %> ">
                                     <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" 
                                     src="" style="height: 32px; width:32px" />
                                     <div class="d-flex w-100 align-items-center justify-content-between">
                                       <strong class="mb-1"><%= group.name  %> </strong>
                                       <small>Wed</small>
                                     </div>
                                     <div class="col-10 mb-1 small"></div>
                                   </a>
                             </div>
                            <% }) %> 
                            <% } %> 
                    </div>
                   
                    <div class="col-md-10 p-0">
                        <%- include('./windowchat.ejs') %> 
                    </div>
                </div>
                </div>
                
            </div>        
    </div>
<%- include('./partials/footer.ejs') %> 

<script>
    $(document).ready(function(){
       
        $(".tab").click(function(e){

            $(".tab").removeClass("active");
            $(this).addClass("active"); 
           
            let selectedUser = $(".active").data('id');
            console.log(selectedUser);

            $.ajax({
                url : '/chat/' + selectedUser,
                method: 'GET',
                
                success:function(data){
                  
                   console.log("success");
                }
            })
            
        })
        $(".grouptab").click(function(e){

        let selectedUser = $(this).data('id');
       

        $.ajax({
            url : '/chat/group' + selectedUser,
            method: 'GET',
            
            success:function(data){
            
            console.log("success");
            }
        })

        })
    })
</script>

</body>
</html>