<div id="mario-chat">
    <div class="username">
    
            <% if(!user){ %> 
                error
                <% }else{%>
                    <input type="text" id="userId" value="<%= user.id%>" hidden>
                    <%} %> 
                <% if(typeof selectedUser!='undefined'){%> 
                    <div class="p-2" style="border-bottom: 1px solid #ddd;">
                        <h5 class="text-center"><%= selectedUser.username %></h5>
                        <input type="text" data-userid="<%= selectedUser._id  %>" id="selecteduser" hidden>
                    </div>
                <% }%> 
                <% if(typeof selectedGroup!='undefined'){%> 
                    <div class="p-2" style="border-bottom: 1px solid #ddd;">
                        <h5 class="text-center"><%= selectedGroup.name %></h5>
                        <input type="text" data-userid="<%= selectedGroup._id  %>" id="selectedgroup" hidden>
                    </div>
                <% }%> 
    </div>
    <div id="chat-window">
        <div id="output">
            <ul class="list-unstyled whole">
                <% if(typeof selectedUser!='undefined'){ %> 
                <% if(user.friendList.length > 0){ %> 
                    <% user.friendList.forEach(friend => { %>
                        <% if(friend.id == selectedUser.id) {%> 
                        <% if(friend.inbox.length > 0){ %> 
                            <% friend.inbox.forEach(msg => { %>    
                               
                                
                                <li id="me">
                                    <% if(msg.from == user.id) {%> 
                                    <p class="m-1">
                                        <span>
                                            <strong> <%= msg.message  %> </strong>
                                        </span>
                                    </p>
                                    <% } %> 
                                </li>
                                
                                
                                <li id="you">
                                    <% if(msg.from == selectedUser.id) {%> 
                                    <p class="m-1"><span><strong> <%= msg.message  %> </strong></span></p> 
                                    <% } %> 
                                </li>
                                
                               
                                
                        <%}); %> 
                        <% } %> 
                    <%}}); %> 
                    <% } %> 
                    <% } %> 

                    <% if(typeof selectedGroup != 'undefined'){ %> 
                        <% if(selectedGroup.inbox.length > 0){ %> 
                         
                            <% selectedGroup.inbox.forEach(msg=>{%>
                                
                                <li id="me">
                                    <% if(msg.from == user.id){ %> 
                                        <p class="m-1">
                                            <span>
                                                <strong> <%- msg.message  %> </strong>
                                            </span>
                                            <h6>
                                                <small>
                                             <%= msg.username  %> 
                                            </small>
                                            </h6>
                                        </p>
                                        <% } %> 
                                </li>
                                <li id="you">
                                    <% if(msg.from != user.id) {%> 
                                    <p class="m-1">
                                        <span>
                                            <strong> <%- msg.message  %> </strong>
                                        </span>
                                        <h6>
                                            <small>
                                                <%= msg.username  %> 
                                               </small>
                                        </h6>
                                    </p> 
                                    <% } %> 
                                </li>

                            <%}) %> 
                            <% } %> 
                        <% } %> 
            </ul>
        </div>
        <div id="feedback"></div>
    </div>
   

    <input id="message" type="text" placeholder="Message" autocomplete="off"/>
    <!-- <% if(typeof selectedUser == 'undefined'){ %> 
    <button id="send" disabled>Send</button>
        <% }else { %> 
            <button id="send" >Send</button>
        <% } %>  -->
        <button class="sendmessage" id="send" >Send</button>
  
</div> 
<%- include('./partials/footer.ejs') %> 
<script src="/js/chat.js"></script>